.features-section {
  margin-bottom: var(--sectionMargin);
  max-width: 1500px;

  @media only screen and (max-width: 1300px) {
    padding: 0 100px;
  }

  .features {
    .line-image {
      max-width: 100%;
    }
  }
}
.feature {
  max-width: 230px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  color: var(--lightPurple);

  h3 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  @media only screen and (max-width: 1300px) {
    font-size: 1.7vw;
    max-width: 20vw;

    h3 {
      font-size: 2vw;
    }
  }
}
